<div
  class="fixed inset-0 z-50 grid place-content-center bg-black/50 p-4"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modalTitle"
>
  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg dark:bg-gray-900">
    <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl dark:text-white">
      Eliminar Categoria
    </h2>

    <div class="mt-4">
      <p class="text-pretty text-gray-700 dark:text-gray-200">
        Esta serguro de eliminar la categoria {{nameCategory}}
      </p>
    </div>

    <footer class="mt-6 flex justify-end gap-2">
      <button
        [routerLink]="['/listar-categorias']"
        class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200 hover:cursor-pointer dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700"
      >
        Cancelar
      </button>

      <button
        (click)="deleteCategory()"
        class="rounded bg-red-600 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-red-700 hover:cursor-pointer"
      >
        Si, Eliminar
      </button>
    </footer>
  </div>
</div>


@if (success) {
  <div class="fixed inset-0 z-50 grid place-items-center bg-white/50 backdrop-blur-sm">
    <div class="flex flex-col items-center justify-center bg-green-100 border border-green-300 text-green-800 rounded-lg p-6 animate-fade-in">
      <svg class="w-16 h-16 text-green-500 mb-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      <span class="text-lg font-semibold">¡Operación exitosa!</span>
    </div>
  </div>
}