<nav class="h-16 bg-gray-100 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="http://res.cloudinary.com/dtvog2pqi/image/upload/v1756345197/gvozjoiwys9runipc96u.png" class="h-8"
        alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">AppMercado</span>
    </a>
    <!--perfil de usuario-->
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button"
        class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" src="/public/userdefault.png" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600"
        id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">nameflowbite.com</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
          </li>
          <li>
            <a (click)="logout()"
              class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cerrar
              Sesion</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul
        class="flex flex-col font-medium md:p-0 mt-4 border border-gray-100 rounded-lg bg-amber-300 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

        <!-- Popover (módulo Dashboard) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rlaDashboard="routerLinkActive"
          class="relative">
          <a [ngClass]="rlaDashboard.isActive
    ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
    : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 rounded-sm hover:bg-gray-400 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:md:hover:text-blue-500 dark:hover:bg-gray-200 dark:hover:text-white md:dark:hover:bg-transparent">

            <button data-popover-target="popover-description-dashboard" data-popover-placement="bottom-end"
              type="button">
              Dashboard <span class="sr-only">Show information</span>
            </button>
          </a>

          <!-- Contenedor Popover -->
          <div data-popover id="popover-description-dashboard" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 
           bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 
           dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">

            <div class="p-3 space-y-2">
              <div class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg 
               dark:bg-gray-700 dark:border-gray-600 dark:text-white">

                <!-- Submenú Visualizar -->
                <button [routerLink]="['/metricas']" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium 
                 border-b border-gray-200 rounded-t-lg
                 hover:bg-gray-100 hover:text-blue-700 
                 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white 
                 dark:focus:ring-gray-500 dark:focus:text-white">
                  Metricas
                </button>

                <!-- Submenú Administrar -->
                <button [routerLink]="['/dashboard/administrar']" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium 
                 border-b border-gray-200 
                 hover:bg-gray-100 hover:text-blue-700 
                 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
                 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white 
                 dark:focus:ring-gray-500 dark:focus:text-white">
                  Administrar
                </button>
              </div>
            </div>

            <div data-popper-arrow></div>
          </div>
        </li>

        <!--Popover 0 modulo home-->
        <li>
          <a
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-description" data-popover-placement="bottom-end"
              type="button">Home<span class="sr-only">Show information</span></button>
          </a>
          <div data-popover id="popover-description" role="tooltip"
            class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div
                class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button type="button"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Dashboard
                </button>
                <button type="button"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Settings
                </button>
                <button type="button"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Messages
                </button>
                <button type="button"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Download
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>
        <!-- Popover 2 (módulo personal) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rlaPersonal="routerLinkActive"
          class="relative">
          <a [ngClass]="rlaPersonal.isActive
      ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
      : 'text-gray-900 dark:text-white'" class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 
           md:hover:text-blue-700 md:p-0 dark:md:hover:text-blue-500 dark:hover:bg-gray-700 
           dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-personal" data-popover-placement="bottom-end" type="button">
              Módulo Personal <span class="sr-only">Show information</span>
            </button>
          </a>

          <div data-popover id="popover-personal" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 
           bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 
           dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg 
               dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button [routerLink]="['/listar-clientes']" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium 
                 border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 
                 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 
                 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white 
                 dark:focus:ring-gray-500 dark:focus:text-white">
                  Administrar Clientes
                </button>
                <button [routerLink]="['/listar-proveedores']" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium 
                 border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 
                 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 
                 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white 
                 dark:focus:ring-gray-500 dark:focus:text-white">
                  Administrar Proveedores
                </button>
                <button [routerLink]="['/listar-usuarios']" class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium 
                 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 
                 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 
                 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 
                 dark:focus:text-white rounded-b-lg">
                  Administrar Usuarios
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>

        <!-- Popover 1 (módulo pedidos) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rla1="routerLinkActive" class="relative">
          <a [ngClass]="rla1.isActive
      ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
      : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:md:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-description-2" data-popover-placement="bottom-end" type="button">
              Modulo Pedidos <span class="sr-only">Show information</span>
            </button>
          </a>

          <div data-popover id="popover-description-2" role="tooltip"
            class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div
                class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button [routerLink]="['/listar-pedidos']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Lista de Pedidos
                </button>
                <button [routerLink]="'/carcards'" type="button"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Settings
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>
        <!-- Popover 2 (modulo reportes) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rla2="routerLinkActive" class="relative">
          <a [ngClass]="rla2.isActive
      ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
      : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:md:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-description-3" data-popover-placement="bottom-end" type="button">
              Modulo Reportes<span class="sr-only">Show information</span>
            </button>
          </a>
          <div data-popover id="popover-description-3" role="tooltip"
            class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div
                class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button [routerLink]="['/dashboard-reportes']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Tablero de Reportes
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>
        <!-- Popover 3 (modulo productos) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rla3="routerLinkActive" class="relative">
          <a [ngClass]="rla3.isActive
      ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
      : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-productos" data-popover-placement="bottom-end" type="button">
              Modulo Productos<span class="sr-only">Show information</span>
            </button>
          </a>
          <div data-popover id="popover-productos" role="tooltip"
            class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div
                class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button [routerLink]="['/listar-productos']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Administrar Productos
                </button>
                <button [routerLink]="['/nuevo-producto']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Agregar Nuevo Producto
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>
        <!-- Popover 4 (modulo categorias) -->
        <li routerLinkActive [routerLinkActiveOptions]="{ exact: false }" #rla4="routerLinkActive" class="relative">
          <a [ngClass]="rla4.isActive
      ? 'text-blue-700 bg-gray-100 dark:text-blue-400 dark:bg-gray-700 font-semibold'
      : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <button data-popover-target="popover-categorias" data-popover-placement="bottom-end" type="button">
              Modulo Categorías<span class="sr-only">Show information</span>
            </button>
          </a>
          <div data-popover id="popover-categorias" role="tooltip"
            class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
              <div
                class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <button [routerLink]="['/listar-categorias']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Administrar Categorias
                </button>
                <button [routerLink]="['/nueva-categoria']"
                  class="relative inline-flex items-center w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                  Agregar Nueva Categoria
                </button>
              </div>
            </div>
            <div data-popper-arrow></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>